/* tablet */
@media screen and (max-width:1023px) {
	
}



/* mobile */
@media screen and (max-width:767px) {
	.footer> .inner-wrap .inner {
    	width: 25%;
    }
}



/* mobile */
@media screen and (max-width:600px) {
	.footer> .inner-wrap .inner {
    	width: 30%;
    }
}



@media screen and (max-width:480px) {
	.footer> .inner-wrap .inner {
    	width: 40%;
    }
}



@media screen and (max-width:400px) {
	.footer> .inner-wrap .inner {
    	width: 100%;
    	white-space: normal;
    }
}



@media screen and (max-width:300px) {
	.footer>.inner-wrap {
	    width: 50%;
        flex-direction: column;
	}
}



@media screen and (max-height: 400px) {
	.header {
		height: 40px;
		display: flex;
		justify-content: center;
	    align-items: center;
		font-size: 12px;
	}
	.header.on span {
		font-size: 12px;
	}
	.header.on span.title {
		font-size: 20px;
	}

	.swiper-container.movie .swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80% !important;
	}
}