<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	
	<title>Dance FOR U</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/index.css" media="all">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/external/swiper-5.3.0/package/css/swiper.min.css">
</head>

<body>
	<!-- header -->
	<div class="header">
		<span class="title flex flex-center txt-s30 txt-w800">Dance FOR U</span>
		<div class="flex flex-center txt-s15 txt-center">
			<span class="sub-title pointer" onclick="moveScroll('movie')">축무 Sample</span>
			<span>/</span>
			<span class="sub-title pointer" onclick="moveScroll('price')">비용</span>
			<span>/</span>
			<span class="sub-title pointer" onclick="moveScroll('inquiry')">문의</span>
		</div>
	</div>
	
	<!-- main -->
	<div class="main-wrap flex flex-center flex-middle">
		<div class="container-wrap">
			<div class="container">
				<div class="content-wrap">
					<!-- info -->	
					<div class="content">
						<div class="inner-wrap">
							<hr class="hr-w80" size="1" noshade>
							<div class="inner flex flex-column flex-center txt-s10 txt-center">
								<span>저희 <span class="txt-s15 txt-w500">Dance FOR U</span>는 최고의 댄서들이</span>
								<span>두 분의 특별한 날을 축하해드리기 위해</span>
								<span>최고의 퍼포먼스를 준비했습니다.</span>
								<br>
								<span>최선을 다하겠습니다.</span>
							</div>
							<hr class="hr-w80" size="1" noshade>
						</div>
					</div>
					
					<!-- sample movie -->
					<div class="content movie" id="movie">
						<div class="inner-wrap">
							<div class="inner sub-title flex flex-center">
								<span class="txt-s10 txt-w500">- 축무 Sample- </span>
							</div>
							<div class="inner flex flex-center">
								<div class="swiper-container movie"> 
									<div class="swiper-wrapper"> 
										<div class="swiper-slide">
											<img src="/img/img_dance_temp.png" class="img">
										</div>
										<div class="swiper-slide">
											<img src="/img/img_dance_temp.png" class="img">
										</div>
										<div class="swiper-slide">
											<img src="/img/img_dance_temp.png" class="img">
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- price info -->
					<div class="content price" id="price">
						<div class="inner-wrap">
							<div class="inner sub-title flex flex-center">
								<span class="txt-s10 txt-w500">- 비용 안내 -</span>
							</div>
							<div class="inner flex flex-column flex-middle">
								<div class="txt-center txt-s15 txt-w500">3인 축무</div>
								<table class="txt-center">
									<thead>
										<tr>
											<th class="option">옵션</th>
											<th>비용</th>
											<th></th>
											<th>이벤트가</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="option">1곡</td>
											<td class="txt-linethrough">30만원</td>
											<td>>></td>
											<td>20만원</td>
										</tr>
										<tr>
											<td class="option">2곡</td>
											<td class="txt-linethrough">40만원</td>
											<td>>></td>
											<td>30만원</td>
										</tr>
										<tr>
											<td class="option">3곡</td>
											<td class="txt-linethrough">50만원</td>
											<td>>></td>
											<td>40만원</td>
										</tr>
									</tbody>
								</table>
								<div class="flex flex-column txt-s10 w90 txt-word-break">
									<span>- 댄서 1명 당 10만원 추가</span>
									<span>- 팝송/가요 선택</span>
									<span>- 원하시는 곡 문의 후 협의 가능</span>
								</div>
							</div>
							<div class="inner flex flex-column flex-middle">
								<div class="txt-center txt-s15 txt-w500">신랑신부 입장 댄스(2~3분)</div>
								<table class="txt-center">
									<thead>
										<tr>
											<th class="option">옵션</th>
											<th>비용</th>
											<th></th>
											<th>이벤트가</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="option">신랑 신부만</td>
											<td class="txt-linethrough">20만원</td>
											<td>>></td>
											<td>15만원</td>
										</tr>
										<tr>
											<td class="option">백업 포함</td>
											<td class="txt-linethrough">30만원</td>
											<td>>></td>
											<td>20만원</td>
										</tr>
									</tbody>
								</table>
								<div class="flex flex-column txt-s10 w90 txt-word-break">
									<span>- 개인 레슨 포함</span>
									<span>- 2~3분 내외</span>
									<span>- 댄서 1명당 10만원 추가</span>
									<span>- 팝송/가요 선택</span>
									<span>- 원하시는 곡 문의 후 협의 가능</span>
									<span>- 백업은 2명의 크루가 함께합니다.</span>
								</div>
							</div>
							<div class="inner flex flex-column flex-middle">
								<div class="txt-center txt-s15 txt-w500">퍼스널 레슨</div>
								<table class="txt-center">
									<thead>
										<tr>
											<th class="option">옵션</th>
											<th>비용</th>
											<th></th>
											<th>이벤트가</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="option">신랑 신부만</td>
											<td class="txt-linethrough">20만원</td>
											<td>>></td>
											<td>15만원</td>
										</tr>
										<tr>
											<td class="option">백업 포함</td>
											<td class="txt-linethrough">30만원</td>
											<td>>></td>
											<td>20만원</td>
										</tr>
									</tbody>
								</table>
								<div class="flex flex-column txt-s10 w90 txt-word-break">
									<span>- 가족, 지인분들과 함께 꾸미는 무대를 친절하게 레슨 해드립니다.</span>
									<span>- 기본 3회 레슨(추가 시, 1회당 5만원)</span>
									<span>- 영상으로 대체 시 5만원 할인</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- sale -->
					<div class="content">
						<div class="inner-wrap">
							<div class="inner sub-title flex flex-center">
								<span class="txt-s10 txt-w500">- 할인 EVENT -</span>
							</div>
							<div class="inner flex flex-column txt-s10 w90">
								<div class="flex flex-column">
									<span>1. 짝궁 할인(5만원)</span>
									<span>- 짝궁을 소개해주세요!</span>
								</div>
								<div class="flex flex-column">
									<span>2. 조기 예약 할인</span>
									<span>- 1달 전(3만원), 2~3달 전(5만원)</span>
								</div>
								<div class="flex flex-column">
									<span>3. 유튜브 채널 구독 또는 인스타 팔로우 인증(1만원)</span>
									<span></span>
								</div>
								<div class="flex flex-column">
									<span>4. 후기 및 인증 환급</span>
									<span>- sns(3만원), 웨딩카페(5만원), 인증 시 환급해드립니다.</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- inquiry -->
					<div class="content inquiry" id="inquiry">
						<div class="inner-wrap">
							<div class="inner sub-title flex flex-center">
								<span class="txt-s10 txt-w500">- 문의 안내 -</span>
							</div>
							<div class="inner flex flex-center">
								<form>
									<div class="info flex flex-between">
										<span class="info-key">E-mail</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">성함</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">연락처</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">예식장 주소</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">신청 옵션</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">요청사항</span>
										<input type="text">
									</div>
									<div class="txt-center">
										<button type="submit" class="btn submit txt-10 txt-w600">문의하기</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<div class="footer flex flex-column flex-middle">
		<div class="inner-wrap flex flex-around">
			<span class="inner">
				<span class="txt-w600">문의상담</span>
				<span>010-0000-0000</span>
			</span>
			<span class="inner">
				<span class="txt-w600">카톡상담</span>
				<span>djfakjow</span>
			</span>
		</div>
		<div class="inner-wrap flex flex-around">
			<a href="#" class="inner no-decoration flex flex-middle">
				<span><i class="fa-brands fa-instagram txt-white"></i></span>
				<span class="txt-white">asadfa_Dd</span>
			</a>
			<a href="#" class="inner no-decoration flex flex-middle">
				<span><i class="fa-brands fa-youtube txt-white"></i></span>
				<span class="txt-white">댄스포유</span>
			</a>
		</div>
	</div>
	
	<script src="/js/index.js"></script>
	<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
	<script src="/external/swiper-5.3.0/package/js/swiper.min.js"></script>
</body>
</html>