<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	
	<title>TEAMION</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/index.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/index_react.css" media="all">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/external/swiper-5.3.0/package/css/swiper.min.css">
</head>

<body>
	<!-- header -->
	<div class="header flex flex-between flex-middle">
		<div class="top-area flex flex-between flex-middle">
			<span class="h-menu">메뉴</span>
			<span class="txt title flex flex-center txt-s30 txt-w600">TeamIon</span>
			<span class="search">검색아이콘</span>
		</div>
		<div class="menu flex txt-s15 txt-center txt-gray">
			<span class="sub-title pointer" onclick="moveScroll('price')">파트너</span>
			<span class="sub-title pointer" onclick="moveScroll('inquiry')">상담신청</span>
		</div>
		
		<div class="user-menu">
			<span>login</span>
			<span>join</span>
		</div>
	</div>
	
	<!-- main -->
	<div class="main-wrap flex flex-center flex-middle">
		<div class="container-wrap">
			<div class="container">
				<div class="content-wrap">
					<!-- info -->
					<div class="content info">
						<div class="inner-wrap">
							<div class="inner flex flex-center">
								<div class="swiper-container movie"> 
									<div class="swiper-wrapper"> 
										<div class="swiper-slide">
											<img src="https://cdn.imweb.me/thumbnail/20221126/eda50083e4e4f.jpg" class="img">
										</div>
										<div class="swiper-slide">
											<img src="https://cdn.imweb.me/thumbnail/20221126/eda50083e4e4f.jpg" class="img">
										</div>
										<div class="swiper-slide">
											<img src="https://cdn.imweb.me/thumbnail/20221126/eda50083e4e4f.jpg" class="img">
										</div>
										<div class="swiper-slide">
											<img src="https://cdn.imweb.me/thumbnail/20221126/eda50083e4e4f.jpg" class="img">
										</div>
										<div class="swiper-slide">
											<img src="https://cdn.imweb.me/thumbnail/20221126/eda50083e4e4f.jpg" class="img">
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<!-- inquiry -->
					<div class="content inquiry" id="inquiry">
						<div class="inner-wrap">
							<div class="inner sub-title flex flex-center">
								<span class="txt-s10 txt-w500">- 문의 안내 -</span>
							</div>
							<div class="inner flex flex-center">
								<form>
									<div class="info flex flex-between">
										<span class="info-key">E-mail</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">성함</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">연락처</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">예식장 주소</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">신청 옵션</span>
										<input type="text">
									</div>
									<div class="info flex flex-between">
										<span class="info-key">요청사항</span>
										<input type="text">
									</div>
									<div class="txt-center">
										<button type="submit" class="btn submit txt-10 txt-w600">문의하기</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<div class="footer flex flex-column flex-middle">
		<div class="inner-wrap flex flex-around">
			<span class="inner">
				<span class="txt-w600">문의상담</span>
				<span>010-0000-0000</span>
			</span>
			<span class="inner">
				<span class="txt-w600">카톡상담</span>
				<span>djfakjow</span>
			</span>
		</div>
		<div class="inner-wrap flex flex-around">
			<a href="#" class="inner no-decoration flex flex-middle">
				<span><i class="fa-brands fa-instagram txt-white"></i></span>
				<span class="txt-white">asadfa_Dd</span>
			</a>
			<a href="#" class="inner no-decoration flex flex-middle">
				<span><i class="fa-brands fa-youtube txt-white"></i></span>
				<span class="txt-white">댄스포유</span>
			</a>
		</div>
	</div>
	
	<script src="/js/index.js"></script>
	<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
	<script src="/external/swiper-5.3.0/package/js/swiper.min.js"></script>
</body>
</html>